function/package/*
function/python/*
aws/.terraform/*
azure/.terraform/*
.terraform
*.zip
layer/*
aws/terraform.tfstate.backup
azure/terraform.tfstate.backup
azure/terraform.tfstate
aws/terraform.tfstate
.terraform.lock.hcl
azure/.terraform.lock.hcl*
aws/.terraform.lock.hcl*
aws/terraform.tfstate
azure/terraform.tfstate
